SECRET_KEY='django-insecure-$9!pw9v&=a*yujc7s4q57=9s643-ds!b9$q0v9*r91@i*%_=%'

POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_MAX_CONNECTIONS=100

DJANGO_SUPERUSER_EMAIL=test@test.com
DJANGO_SUPERUSER_PASSWORD=123

DEBUG=True
ALLOWED_HOSTS='.localhost 127.0.0.1 [::1]'

REDIS_HOST=redis
REDIS_PORT=6379
